@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'Lato',
    sans-serif;
  color: #141414;
}

a {
  color: #141414;
}

h1,
h2 {
  margin-bottom: 0;
  font-size: 1.125rem;
  color: #353738;
}

p {
  color: #848789;
}

header {
  height: 50vw;
  background: url('assets/Layer\ 7.png') no-repeat;
  background-position: center;
  background-size: cover;
}

/* navigation styles */

.mobile-nav {
  display: none;
}

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
}

.main-navigation a {
  padding: 0 35px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  font-size: 0.8rem;
  color: #4d4959;
}

.include-separator::after {
  content: ".";
  position: absolute;
  right: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px 0;
  background-color: #f7f7f7;
}

.flex-container p {
  width: 75%;
  max-width: 1600px;
  line-height: 1.8;
  font-size: 1.125rem;
}

.big-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 1800px;
  max-width: 1600px;
  margin: 0 auto;
}

.big-grid-item-1 {
  grid-area: 1 / 1 / 2 / 3;
  background: url("assets/Layer\ 10.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-grid-item-2 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
}

.big-grid-item-2 .item-2-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.big-grid-container p {
  max-width: 75%;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
}

.big-grid-container p::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
  margin: 30px auto 0;
}

.diamond {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.big-grid-item-2 .item-2-image {
  flex: 1;
  background: url("assets/Layer\ 11.png") no-repeat;
  background-size: cover;
}

.big-grid-item-3 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
}

.big-grid-item-3 .item-3-text {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-grid-item-3 .item-3-image {
  flex: 1;
  background: url("assets/Layer\ 13.png") no-repeat;
  background-size: cover;
}

.big-grid-item-4 {
  grid-area: 2 / 2 / 3 / 4;
  background: url("assets/Layer\ 12.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-grid-item-5 {
  grid-area: 3 / 1 / 4 / 2;
  background: url("assets/Layer\ 15.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-grid-item-6 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
}

.big-grid-item-6 .item-6-text {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-grid-item-6 .item-6-image {
  flex: 1;
  background: url("assets/Layer\ 16.png") no-repeat;
  background-size: cover;
}

.big-grid-item-7 {
  grid-area: 3 / 3 / 4 / 4;
  background: url("assets/Layer\ 14.png") no-repeat;
  background-size: cover;
}

.twitter-section {
  padding: 110px 0 150px;
  position: relative;
}

.twitter-section img {
  margin-bottom: 15px;
}

.twitter-section h2 {
  letter-spacing: 0.1em;
}

.twitter-section h2 span {
  color: #848789;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.twitter-section p {
  font-size: 1.5rem;
  font-style: italic;
}

.tweet-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 55px;
}

.tweet-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px #a9afb3;
  margin: 4px;
}

.tweet-dot-active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a9afb3;
  border: solid 1px #a9afb3;
  margin: 4px;
}

.small-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 33.3vw;
  max-width: 1600px;
  margin: 0 auto;
}

.small-grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
  background: url("assets/Layer\ 19.png") no-repeat;
  background-size: cover;
}

.small-grid-item2 {
  grid-area: 1 / 2 / 2 / 3;
  background: url("assets/Layer\ 21.png") no-repeat;
  background-size: cover;
}

.small-grid-item3 {
  grid-area: 1 / 3 / 3 / 4;
  background: url("assets/Layer\ 22.png") no-repeat;
  background-size: cover;
}

.small-grid-item4 {
  grid-area: 1 / 4 / 3 / 5;
  background: url("assets/Layer\ 25.png") no-repeat;
  background-size: cover;
}

.small-grid-item5 {
  grid-area: 1 / 5 / 2 / 7;
  background: url("assets/Layer\ 23.png") no-repeat;
  background-size: cover;
  position: relative;
}

.image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(99, 193, 157, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-overlay:hover {
  background-color: rgba(99, 193, 157, 0.6);
}

.image-overlay p {
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: .2em;
}

.small-grid-item6 {
  grid-area: 2 / 1 / 3 / 3;
  background: url("assets/Layer\ 20.png") no-repeat;
  background-size: cover;
}

.small-grid-item7 {
  grid-area: 2 / 5 / 3 / 6;
  background: url("assets/Layer\ 24.png") no-repeat;
  background-size: cover;
}

.small-grid-item8 {
  grid-area: 2 / 6 / 3 / 7;
  background: url("assets/Layer\ 26.png") no-repeat;
  background-size: cover;
}

.cta-container {
  background-color: #282f35;
}

.cta-button {
  color: #fff;
  border: 1px solid #93979a;
  background: none;
  padding: 15px 50px;
  font-size: 0.875rem;
  letter-spacing: .2em;
  transition: transform 0.1s;
}

.cta-button:hover {
  background-color: #fff;
  color: #282f35;
  border-color: #fff;
  cursor: pointer;
}

.cta-button:active {
  background-color: #fff;
  color: #282f35;
  border-color: #fff;
  cursor: pointer;
  transform: scale(0.95);
}

.newsletter-section {
  background-color: #fff;
  padding: 110px 0;
}

.slogan {
  font-style: italic;
  margin: 24px 0;
}

.newsletter-flex-container {
  display: flex;
  width: 450px;
}

.newsletter-flex-container input {
  flex: 1;
  margin-right: 5px;
  border: solid 1px #d3d6d9;
  padding: 0 18px;
  color: #000;
  font-family: 'Lato',
    sans-serif;
}

.newsletter-flex-container input::placeholder {
  color: #929292;
  font-style: italic;
}

.newsletter-flex-container input:focus {
  outline-color: #64c29e;
}

.newsletter-flex-container button {
  width: 100px;
  background-color: #64c29e;
  border: none;
  padding: 18px 0;
  color: #fff;
  font-family: 'Lato',
    sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.1s;
}

.newsletter-flex-container button:hover {
  opacity: 0.7;
}

.newsletter-flex-container button:active {
  opacity: 0.7;
  transform: scale(0.95);
}

footer {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 18vw;
}

footer address {
  font-style: italic;
  color: #848789;
  font-size: 0.875rem;
  line-height: 1.4;
}

footer address span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.footer-icons {
  text-align: center;
}

.footer-icons a {
  margin: 5px;
}

.copyright-notice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyright-notice span {
  font-style: italic;
  color: #848789;
  margin-right: -15px;
}

@media only screen and (max-width: 830px) {

  html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }


  .main-navigation {
    display: none;
  }

  .transform .burger-line1 {
    /* -webkit- adds safari support*/
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .transform .burger-line2 {
    opacity: 0;
  }

  .transform .burger-line3 {
    /* -webkit- adds safari support*/
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .burger {
    width: 25px;
    height: auto;
  }

  .burger-line1,
  .burger-line2,
  .burger-line3 {
    width: 100%;
    height: 2px;
    margin: 6px 0;
    background-color: black;
    transition: .5s;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  .mobile-nav img {
    height: 40px;
  }

  .mobile-navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 0;
    right: 0;
    padding: 50px;
    background-color: #64c29e;
    opacity: 1;
    transition: opacity 0.3s;
  }

  .hide-mobile-navigation {
    opacity: 0;
    pointer-events: none;
  }

  .mobile-navigation a {
    text-decoration: none;
    color: #f7f7f7;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
  }

  .mobile-navigation>a+a {
    margin-top: 30px;
  }

  .big-grid-container {
    display: block;
    height: auto;
  }

  .big-grid-item-1 {
    height: 400px;
  }

  .big-grid-item-2 {
    height: 600px;
  }

  .big-grid-item-3 {
    height: 600px;
  }

  .big-grid-item-4 {
    display: none;
  }

  .big-grid-item-5 {
    display: none;
  }

  .big-grid-item-6 {
    height: 600px;
  }

  .image-overlay {
    display: none;
  }

  .newsletter-flex-container {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .newsletter-flex-container input {
    margin-bottom: 5px;
    margin-right: 0;
    padding: 20px;
  }

  .newsletter-flex-container button {
    width: auto;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer>*+* {
    margin-top: 50px;
  }

  .copyright-notice {
    flex-direction: column;
  }

  .copyright-notice span {
    margin: 0;
    margin-bottom: -20px;
  }
}
